@charset "utf-8";
/* CSS Document */

.login-signup {color:#000; font-family:"Raleway", sans-serif;}
.login-signup .modal-body {padding:0;}
.login-signup .modal-content {border-radius:0;}
.mainbox .panel-title {float:left; color:#fff;}
.mainbox .panel-info>.panel-heading {background:#000; border:0; border-radius:0;}
.mainbox .indiakala-questext {margin:0;}
.mainbox .panel-info {border:0;}
.login-signup .close {color:#fff !important; line-height:23px; opacity:1; font-weight:200; font-size:26px; outline:none;}
.top-drop .modal.in .modal-dialog {padding-top:36px;}
.mainbox .filters label {font-size:15px;}
.mainbox .filters .icon .fa {font-size:12px;}
.mainbox .form-group {margin-bottom:12px;}
.mainbox .form-text {margin-bottom:2px;}
.mainbox .panel {margin-bottom:0;}

.login-signup .button02{ padding:10px 20px; background:#336699; border-radius:0px; text-align:center; display:block; margin:auto; color:#FFF; 
 width:100%; font-size:14px;}
.login-signup .button03{ padding:10px 25px; background:#dd4c30; border-radius:0px; text-align:center; display:block; margin:auto; margin-top:12px; 
color:#FFF; width:100%; font-size:14px;}
.login-signup .button02 .fa {font-size:14px; margin-right:3px;}
.login-signup .button03 .fa {font-size:14px; margin-right:3px;}
.login-signup .button01 {padding:10px 29px; font-size:17px; margin:0; background:#00afa9; outline:none;}
.create-acc {background:#000; color:#fff; border-top: 1px solid #ccc; padding:6px 0; margin-top:9px; font-size:12px; text-align:center; }
.create-acc a {margin-left:6px;}
.create-acc-width {margin:auto; float:none;}
.create-acc-width .form-n-cont {width:100%;}
.create-acc-width .button01 {margin:auto; display:inherit;}


