@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,600);

body {padding:0; margin:0; font-family: 'Source Sans Pro', sans-serif;}

/* Bootstrap Override Css */
p {margin: 0 0 20px; line-height:20px;}
hr{border-color:#eaeaea; border-style: solid; margin:25px 0;}
a {color:#505050; text-decoration:none;}
a:hover{color:#df4a4a; text-decoration:none;}

a:focus{text-decoration:none; outline:none; border:0px;}

a {
-webkit-transition: ease-out 0.3s; -moz-transition: ease-out 0.3s;
-o-transition: ease-out 0.3s; transition: ease-out 0.3s;
}
a:hover {
-webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
-o-transition: ease-out 0s; transition: ease-out 0s;
}

label{font-weight:normal;}

.margin_bootm80{margin-bottom:80px;}
.margin_bootm40{margin-bottom:30px;}

.img-thumbnail{border-radius:0px; border:0px; background:inherit; box-shadow:inherit; padding:0px; width:100%;}
  
.bootstrap-tagsinput{margin-bottom:0px;}

.label-info {background-color: #b32017;}
.label{font-size:18px; font-weight:normal;}
.bootstrap-tagsinput .tag{ margin:2px; display:inline-block;}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none; outline-offset:0px
	outline:0px auto; -webkit-focus-ring-color;	
	}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:normal;
	padding:0px; margin:0px; color:#505050;
}

h2{margin:0 0 20px; font-size:30px; font-family:"Raleway", sans-serif;} 
h3{margin:0 0 25px; font-size:18px; font-weight:bold; font-family:"Raleway", sans-serif;}
h4{margin:0 0 25px; font-size:18px; font-weight:bold; color:#716e6e; font-family:"Raleway", sans-serif;}
h5{margin:0 0 15px; font-size:14px; font-weight:bold; color:#3d3c3c; font-family:"Raleway", sans-serif;}
h6{margin:0 0 15px; font-size:11px; font-weight:bold; color:#3d3c3c; font-family:"Raleway", sans-serif;}

.form-control::-moz-placeholder{color:#000;}

.modal.in .modal-dialog{transform:inherit;}
.modal.fade .modal-dialog{transform:inherit; transition:inherit; margin-top:9%;}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{
	border: 1px solid #ddd;
}

.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border: 1px solid #e0ded9;
}

.wrapper {width:100%; position:relative; overflow:hidden;}

/*====================start header ========================*/

header {background:#252525; display:block; width:100%; padding:1.4rem 0; color:#fff;}
.top-middle {text-align:center;}
.top-right {text-align:right;}
.top-right .login {font-size:1.5rem; border:0.1rem solid #ccc; color:#fff !important; padding:0.6rem 1rem; border-radius:0.6rem; float:right;}
.top-middle .logo {text-align:center; font-size:32px; color:#fff; margin:0; line-height:normal; font-weight:bold;}

/*====================End header ========================*/

/*====================start Slider ========================*/

.jk-slider {width:100%; position:relative;} 

.searchContainer {
	position: absolute;
	width: 100%;
	z-index: 98;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}
.searchContainer h3 {color: #fff;     font-family: "Raleway", sans-serif; font-weight:normal;
    margin: 0 0 2rem;
    font-size: 2.5rem;}
.searchContainer .searchInnerContainer {
	display: inline-block;
	padding: 1rem 2rem 2rem 2rem;
	background: rgba(0,0,0,0.45);
border-radius:.5rem;
	width: 60%
}
.cusineList {
	position: absolute;
	width: 100%;
	z-index: 98;
	text-align: center;
	bottom: 20%
}
.search {
	margin: 0 auto;
	z-index: 98;
	background: rgba(255,255,255,0.9);
-webkit-border-radius:.5rem;
-moz-border-radius:.5rem;
border-radius:.5rem;
	min-height: 5rem
}
.search .selectCity { width:100%;
	outline: 0;
	border: 0;
	background-color: #fff;
-webkit-border-radius:.5rem 0 0 .5rem;
-moz-border-radius:.5rem 0 0 .5rem;
border-radius:.5rem 0 0 .5rem;
	padding: 1.2rem;
	margin-bottom: 0;
	height: 5rem
}
.search .locality {
	height: 5rem; width:100%; outline:none; font-size:14px; font-family: "Raleway", sans-serif; font-weight:normal;
	background: none;
	border: 0;
	margin: 0
}
.search .locality.disabled, .search .locality:disabled {
	cursor: not-allowed
}
.changeLocalityContainer {
	margin-top: 4rem
}
.changeLocalityContainer .selectCity {
	outline: 0;
	border: 0;
	background-color: #f5f5f5;
-webkit-border-radius:.5rem 0 0 .5rem;
-moz-border-radius:.5rem 0 0 .5rem;
border-radius:.5rem 0 0 .5rem;
	padding: 1.2rem;
	margin-bottom: 0;
	height: 5rem
}
.changeLocalityContainer .locality, .changeLocalityContainer .locality:focus, .changeLocalityContainer .locality:active {
	height: 5rem;
	background: #d3d3d3;
	border: 0;
	margin: 0
}
.changeLocalityContainer input::-webkit-input-placeholder {
color:#1c1c1c; font-family: "Raleway", sans-serif; font-weight:normal;
opacity:1
}
.changeLocalityContainer input:-moz-placeholder {
color:#1c1c1c; font-family: "Raleway", sans-serif; font-weight:normal;
opacity:1
}
.changeLocalityContainer input::-moz-placeholder {
color:#1c1c1c; font-family: "Raleway", sans-serif; font-weight:normal;
opacity:1
}
.changeLocalityContainer input:-ms-input-placeholder {
color:#1c1c1c; font-family: "Raleway", sans-serif; font-weight:normal;
opacity:1
}
.oneLiner {
	z-index: 99;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 500;
letter-spacing:.1rem;
	margin-top: 2rem
}
#load_menu.btn {
	width: 100%;
	border: none;
	height: 5rem; background:#d65050; color:#fff;
-webkit-border-radius:0 .5rem .5rem 0;
-moz-border-radius:0 .5rem .5rem 0;
border-radius:0 .5rem .5rem 0
}
#changeLocationForm #load_menu.btn {
-webkit-border-radius:.5rem;
-moz-border-radius:.5rem;
border-radius:.5rem
}
#changeLocationForm .locality {
-webkit-border-radius:0 .5rem .5rem 0;
-moz-border-radius:0 .5rem .5rem 0;
border-radius:0 .5rem .5rem 0
}
.featuresSection {
	padding: 6rem 0;
	border-top: 1px solid #ccc
}
.featuresSection p {
	font-size: 1.4rem;
	color: #1c1c1c
}
.featuresSection .columns h4 {
	padding: 3rem 0 1rem 0
}
.featuresSection.borderbottom {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5rem
}
.search input[type='search']:disabled::-webkit-input-placeholder {
opacity:0
}
.search input[type='search']:disabled:-moz-placeholder {
opacity:0
}
.search input[type='search']:disabled::-moz-placeholder {
opacity:0
}
.search input[type='search']:disabled:-ms-input-placeholder {
opacity:0
}
.search input[type='search']::-webkit-input-placeholder {
font-size:1.2rem
}
.search input[type='search']:-moz-placeholder {
font-size:1.2rem
}
.search input[type='search']::-moz-placeholder {
font-size:1.2rem
}
.search input[type='search']:-ms-input-placeholder {
font-size:1.2rem
}
/*====================End Slider ========================*/

/*====================Start Product List ========================*/
.product-area {position:relative; padding:3rem 0;}
.product-details {padding:1.5rem 0;}
.product-details img {width:100%;}
.details-right h3 {font-family:Arial, Helvetica, sans-serif; color:#DA6161; font-weight:300; font-size:1.9rem;}
.details-right .center{width:126px; float:left;}
.details-right .calander-icon {float:left; text-align:center; margin-left:9px; color:#fff; width:36px; height:36px; background:#D0D0D0; border-radius:50%;}
.details-right .calander-icon .fa {vertical-align:middle; margin-top:9px; color:#000; font-size:16px;}
.details-right .title-left {float:left;}
.details-right .icon-right {float:right;}
.details-right .icon-right .fa {font-size:26px; color:#FFED00;}

.details-tabs {padding:26px 76px;}
.details-tabs .nav-tabs {text-align:center; height: inherit !important;}
.details-tabs .nav-tabs>li {display:inline-block; float:none;     border-radius:9px; margin-bottom:-1px; position:relative !important; opacity:inherit !important; width:inherit !important;}
.details-tabs .nav-tabs>li>a {font-size:16px; margin-right:0;     padding: 6px 19px; }
.details-tabs .tab-content {font-size:14px;}
.details-tabs .tab-content p {border-bottom:1px dotted #ccc; padding-bottom:12px; text-align:center;}
.details-tabs .right-meal {float:right;}
.details-tabs .right-meal span { background:#39C; width:29px; height:29px; border-radius:50%; padding:6px; display:inline-block; margin-left:9px;
color: #fff;text-align: center;}
.details-table { width: 70%; text-align: center; margin: auto; margin-top:19px; margin-bottom:19px; }
.min-height {min-height:1096px !important;}
.details-table .fa-ico {margin:0 6px; font-weight: bold;}

.animated { -webkit-transition: height 0.2s; -moz-transition: height 0.2s; transition: height 0.2s;}
.stars{margin: 20px 0; font-size: 24px; color: #d17581; cursor:pointer;}
.AT3RevLarge {font-size:40px; }
.AT3RevSummary {    padding:10px; vertical-align:top;}
.m-bottom {margin-bottom:22px; display:block;}
.review-img img {border-radius:50%; width:100%;     border: 1px solid #ccc;}
.client-review{background:#F3F3F3; padding:12px; text-align:left; margin-bottom:9px;}
.client-review h3 {margin-top:6px; margin-bottom:9px;}
.client-review p {text-align:left !important; margin-bottom:0 !important; border-bottom:0 !important; padding-bottom:0 !important;}

.similar-item .media-carousel { margin-bottom: 0; padding: 0 40px 30px 40px; margin-top: 30px; } /* Previous button */ 
.similar-item .media-carousel .carousel-control.left { left: -12px; background-image: none; background: none repeat scroll 0 0 #222222; border: 4px solid #FFFFFF; border-radius: 23px 23px 23px 23px; height: 40px; width : 40px; margin-top: 30px } /* Next button */ 
.similar-item .media-carousel .carousel-control.right { right: -12px !important; background-image: none; background: none repeat scroll 0 0 #222222; border: 4px solid #FFFFFF; border-radius: 23px 23px 23px 23px; height: 40px; width : 40px; margin-top: 30px } /* Changes the position of the indicators */ 
.similar-item .media-carousel .carousel-indicators { right: 50%; top: auto; bottom: 0px; margin-right: -19px; } /* Changes the colour of the indicators */ .similar-item .media-carousel .carousel-indicators li { background: #c0c0c0; } 
.similar-item .media-carousel .carousel-indicators .active { background: #333333; } 
.similar-item .media-carousel img { width: 250px; height: 100px } /* End carousel */
.similar-item h4 {text-align:center; font-size:14px; font-weight:normal; margin-bottom:9px; margin-top:6px; font-family:'Source Sans Pro', sans-serif;}
.similar-item h3 {text-align:center; padding:12px 0; border-top:1px dotted #ccc;  border-bottom:1px dotted #ccc; font-weight:normal; margin-bottom:9px; margin-top:6px; font-family:'Source Sans Pro', sans-serif;}
.order-text {text-align:center; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:12px 0; margin-bottom:36px;}
.order-area h3 {border-bottom:1px solid #ccc; padding-bottom:12px; margin-bottom:16px;}
.client-review h5 {margin-bottom:7px;}
.client-review h6 {margin-bottom:7px;}
.order-area .client-review {padding:9px; border:1px solid #E4E4E4; border-radius:9px; margin-bottom:12px;}
.order-area .borderBtn {background:#252525; margin:auto; display:block; margin-top:16px; font-size: 19px; 
text-align:center; font-weight: normal; padding:6px 30px; border: 1px solid #252525; color: #fff;}
.order-middle {width:79%; margin:auto;}
.tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 12px 16px 0;padding:6px 16px} .tags a:hover{border-color:#08C;} .tags a.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD} .tags a.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C} .tags a.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA} .tags a.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236} .tags a.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}
/*====================End Product List ========================*/

.account-area {width:79%; margin:auto; margin-top:26px; margin-bottom:26px; float:none;}
.cart-table {margin:26px 0; }
.cart-table h4 {margin:0;}
.cart-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:26px;font-size: 18px;     vertical-align: middle;}
.cart-remove {background:#900; width:26px; height:26px; font-size: 14px; text-align:center; color:#fff; display:block; border-radius: 50%; margin:auto; padding-top: 2px;}

.subtotal-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:16px;font-size: 18px;     vertical-align: middle;}
.total-bg {background:#F9F7F7;}
.button-account {background:#252525; padding:12px 26px; outline:0; font-size:19px; margin:16px 0; border:0; color:#fff; text-align:center; float:right;}
.apply-bttn  {background:#252525; padding:9px 12px; outline:0; font-size:16px; color:#fff !important; border-radius:0;}
.CouponTextbox {padding:9px 12px; vertical-align:middle;}
.m-top0 {margin-top:0 !important;}
/*--- Checkout Page Accordion ---*/	
.checkoutGrid{overflow:hidden; margin-bottom:70px; }
.checkoutGrid .panel {box-shadow:inherit; padding:0px; margin-bottom:15px; border:1px solid #B7B7B7; border-radius:0px;}
.checkoutGrid .panel .checkoutHeader{background:#B7B7B7; padding:10px; overflow:hidden; min-height:40px; position:relative;}
.checkoutGrid .panel .checkoutHeader .rightIcon{text-align:right;}
.checkoutGrid .panel .checkoutHeader .fa{font-size:24px; color:#fff; margin-left:10px;}
.checkoutGrid .panel .checkoutHeader .minus{font-size:14px; color:#fff; margin-left:10px;}
.checkoutGrid .panel .checkoutHeader h2{color:#FFF; display:inline-block; width:80%; font-size:20px; margin:0;}
.checkoutGrid .panel .checkoutHeader h2 a{color:#FFF;}
.checkoutGrid .panel .checkoutHeader span{
	display:inline-block; width:28px; height:28px; 
	border:1px solid #067878; background-color:#fff; margin-right:8px;
	color:#D65050; text-align:center; font-size:20px; font-family:'Prata';
	}

.checkoutGrid .panel .panel-body{padding:10px;}
.checkoutGrid .panel .panel-body .myCart{padding:0px;}
.checkoutGrid .panel .panel-body .myCart .table {margin-bottom:0px;}

.checkoutGrid .panel .panel-body .form-control{border-radius:0px;}
.checkoutGrid .panel .panel-body .borderBtn{
	background:#252525; font-weight:normal; padding:6px 30px;
	border:1px solid #252525; color:#fff;
	}
.checkoutGrid .panel .panel-body .borderBtn:hover{border:1px solid #333; color:#333;}

.checkoutGrid .formGroup, .RegisterCol, .addressCol{padding-top:30px;}
.checkoutGrid .formGroup, .RegisterCol, .addressCol, p{margin-bottom:10px;}
.checkoutGrid .RegisterCol .radio{margin-top:31px; margin-bottom:31px;}

.checkoutGrid .formGroup{padding-left:0px; padding-right:0px;}
.checkoutGrid .formGroup .Required{padding-top:0px;}

.checkoutGrid .addressCol{font-size:12px; font-family:'Prata'; padding-left:20px;}
.checkoutGrid .addressCol h5{font-size:14px; font-weight:normal; text-transform:uppercase; margin-bottom:10px;}

/*---------------------*/

.order-calander {padding:16px; border:1px solid #ccc; }
.order-calander .note-text {border-top:1px dotted #999; border-bottom:1px dotted #999; padding:9px 0; margin-top:16px;}
.order-calander h3 {border-bottom:1px solid #ccc; padding-bottom:12px; text-align:center;}
.c-check .checkbox {margin-left:20px; margin-top:0;}
.c-check .radio {margin-left:20px; margin-top:0;}

/*==================== Start Footer ========================*/

footer {background:#252525; padding:9.6rem 0; color:#ccc;}
footer h3 {text-transform:uppercase; color:#c5c5c5; line-height:normal; margin:0; font-size:1.6rem; font-weight:600; 
padding-bottom:2.4rem;}
footer ul.menu-footer a {color:#767676;}
footer ul.menu-footer {padding:0; margin:0;}
footer ul.menu-footer li {padding:5px 0; list-style-type:none; line-height:2.3rem;}
footer ul.menu-footer li:first-child {padding-top:0;}
footer ul.menu-footer li:last-child {padding-bottom:0;}
footer .social ul {margin:0; padding:0; margin-bottom:2rem;}
footer .social ul li {list-style-type:none; display:inline-block; padding:0.5rem 1rem;}
footer .social ul li .fa {font-size:3.4rem; color:#d65050;}
.appDiv img {width:4rem; height:4rem; margin-right:0.5rem;}
.appDiv:hover {border:0;}
.appDiv:focus {border:0;}
.appDiv {width:329px; padding:0.6rem; border:0; border-radius:1rem; background-color:rgb(114, 112, 113); opacity:9; color:#fff !important;
font-size:1.6rem; margin-bottom:2rem; display:block;}
.site-footer {background-color:#1c1c1c; line-height:3.5rem; padding:1.5rem 0;}


/*====================End Footer ========================*/

/*--------------------------------------------------------------
Go to top button
--------------------------------------------------------------*/
	.go-top {
		position: fixed !important;
		right: 20px;
		bottom: -45px;
		color: #fff; 
		display: block;
		font-size: 22px;
		line-height: 35px;
		text-align: center;
		width: 40px;
		height: 40px;
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		z-index: 9999;
		cursor: pointer;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
			 -o-border-radius: 2px;
				border-radius: 2px;
		-webkit-transition: all 0.5s;
		   -moz-transition: all 0.5s;
		    -ms-transition: all 0.5s;
		     -o-transition: all 0.5s;
		        transition: all 0.5s;
	}
	.go-top:hover {
		background-color: #fff;
	}
	.go-top.show {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
		bottom : 11px;
	}
	.go-top {
    background-color: #d65050;
}

.slider-right {float:right;}
.slider-left {float:left;}
.slider-right {border:1px solid #ccc;}
.slider-right ul {margin:0; padding:0;}
.slider-right ul li {margin:0; padding:0; list-style-type:none;} 
.slider-left ul {margin:0; padding:0;}
.slider-left ul li {margin:0; padding:0; list-style-type:none;}  
.cart-check {float:right; font-size:16px;}
.cart-check input {font-size:18px; margin-right:6px; width:16px; height:16px; display:inline-block; float:left; }
.cart-check span {display:inline-block;}
.product-category {background:#E5E5E5; border-bottom:1px solid #ccc;}
.product-category ul {text-align:center; margin:0 auto; padding:0; text-align:center;}
.product-category ul li {display:inline-block; padding:16px 12px; text-align:center; margin:auto; border-right:1px solid #ccc;}
.product-category ul li:last-child {border-right:0;}
.product-category ul li a {text-decoration:none; color:#999;}
.product-category ul li a:hover {color:#DA6161;}


