@charset "utf-8";
/* CSS Document */

@media screen and (min-width:1024px) {
.account-area {width:79%;}
.subtotal-table {width:46%; float:right;}
}
@media screen and (max-width:767px) {
.searchContainer .searchInnerContainer {width:96%;}
.left-nav {width:33%; float:left;}
.top-middle {width:33%; float:left; padding:0;}
.top-right {width:33%; float:right;}
.top-middle .logo {font-size:2.4rem;}
footer {padding:3.6rem 0;}
.carousel-inner>.item {height:30rem;}
.carousel-inner>.item img {height:100%;}
.search {background:none;}
.search .locality {background:rgba(255,255,255,0.9); margin-bottom:0.6rem; padding:0 1.5rem;}
.search .selectCity {border-radius:0; margin-bottom:0.6rem;}
.searchContainer h3 {font-size:2.1rem;}
.footer-1 {margin-bottom:3rem;}
.footer-2 {margin-bottom:3rem;}
.appDiv {display:block; padding:0.6rem 1.3rem; width:93%; margin:1rem 1.3rem; font-size:1.3rem; }
.slider-left {margin-top:1rem; float:none;}
.slider-right {float:none;}
.details-tabs {padding:26px 12px;}
.details-table {width:100%;}
.product-category {padding:9px;}
.product-category ul li {border:1px solid #ccc; margin:6px 3px; padding:6px 9px;}
.product-category ul li:last-child {border-right:1px solid #ccc;;}
.product-area {margin:0 16px;}
}
@media screen and (max-width:556px) {
#wrapper.toggled #sidebar-wrapper {width:100%;}
.sidebar-nav {width:100%;}
.toggled .hamburger {float:right; z-index:9999; position:absolute; right:19px;}
.toggled .left-nav {width:100%;}
#wrapper.toggled {padding-left:0; margin-left:0;}
.toggled .hamburger {margin-left:76px;}	
}
@media screen and (max-width:400px) {
.left-nav {width:26%; float:left;}
.top-middle {width:38%; float:left; padding:0;}
.hamburger {top:0;}	
}
@media screen and (min-width:557px) and (max-width:1166px) {
.toggled .hamburger {margin-left:99px !important;}	
}
@media screen and (min-width:400px) and (max-width:767px) {
.slider-left {width:100% !important; margin:auto; margin-top:1rem;}
}

@media screen and (min-width:768px) and (max-width:992px) {
.searchContainer .searchInnerContainer {width:96%;}
.footer-1 {width:26%; margin-bottom:2.6rem;}
.footer-2 {width:26%;  margin-bottom:2.6rem;}
.footer-3 {width:42%; float:right;}
footer {padding:3.6rem 0;}
.appDiv {font-size:1.3rem; }
.product-category ul li {padding:16px 9px; font-size:12px; }
}

